body {
  font-size: calc(var(--text-sm) * var(--font-scale));
}

.heading {
  font-size: calc(var(--text-xxl) * var(--font-scale));
  line-height: 1.2;
  font-weight: 800;
}
.sub-ttl {
  display: flex;
  gap: 4px;
  font-size: calc(var(--text-md) * var(--font-scale));
  font-weight: 700;
  line-height: 20px;
  align-items: center;
}
