@import "./reset";
@import "./base";
@import "./ios-fix";
@import "./variable";
@import "./typography";
@import "./mixin";

/* @import "tailwindcss"; */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* helper */
.dark {
  --bg-color: #3b3b3b;
  --text-color: white;
  --darkblue-color: #dcecff;
  --gray-color: #f8f8f8;
  --silver-color: #000000; 
  --lightgray-color: #161616;
}
.ly-main {
  width: min(1100px, calc(100% - 40px));
  margin: 0 auto;
}
.ly-section {
  padding-top: 100px;

  scroll-margin-top: 100px;
}
.sc-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}
