@import "./reset";
@import "./base";
@import "./ios-fix";
@import "./variable";
@import "./typography";
@import "./mixin";

/* helper */
.dark {
  --bg-color: #182139;
  --text-color: white;
  --darkblue-color: #dcecff;
  --gray-color: #a4a4a4;
  --silver-color: #323232;
  --lightgray-color: #0e0f17;
  --img-left: -100%;
}

.sc-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}

.m-block {
  display: none;
}

@media screen and (max-width: 480px) {
  .m-block {
    display: block;
  }
}

/* layout */
.ly-main {
  width: min(1100px, calc(100% - 40px));
  margin: 0 auto;
}
.ly-section {
  padding-top: 100px;
  //scroll-margin-top: 100px;
}

/* utils */
.icon {
  &--black {
    position: absolute;
    top: 0;
    left: var(--img-left);
    height: 16px;
    width: 32px;
    max-width: 200%;
    &__wrapper {
      position: relative;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }
  }
}