.heading {
  margin-bottom: 35px;
  &__ttl {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
  }
  &__img {
    width: 18px;
    margin-right: 5px;
    img {
      width: 100%;
    }
  }
}
