.heading {
  &__ttl {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--text-xl) * var(--font-scale));
    font-weight: 600;
    &--small {
      margin-bottom: 25px;
      font-size: calc(var(--text-lg) * var(--font-scale));
      justify-content: flex-start;
    }
  }
  &__img {
    width: 18px;
    margin-right: 5px;
    img {
      width: 100%;
    }
  }
}
