.heading {
  &__badge {
    font-size: calc(var(--text-xs) * var(--font-scale));
    color: var(--blue-color);
  }
  &__ttl {
    font-weight: 800;
    font-size: calc(var(--text-xxl) * var(--font-scale));
    &--center {
      text-align: center;
    }
  }
}
