.form {
  border-top: 1px solid var(--border-color);
  margin-top: 15px;
  padding-top: 20px;
  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__item {
    display: inline-flex;
    flex-direction: column;
    width: 48%;
  }
  &__label {
    font-weight: 700;
  }
  &__message {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
  }
  &__input,
  textarea {
    width: 100%;
    margin-bottom: 7px;
    flex: 1;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: var(--round-sm);
    font-size: calc(var(--text-sm) * var(--font-scale));
  }
  &__submit {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 8px 20px;
    font-weight: 700;
    border-radius: var(--round-sm);
    display: inline-block;
    margin: 0 auto;
    &:hover {
    }
  }
}
