.form {
  &__item {
    display: flex;
  }
  &__label {
    text-align: left;
    margin-top:7px;
    min-width: 45px;
    font-size: calc(var(--text-sm) * var(--font-scale));
  }
  &__input, textarea {
    width: 100%;
    max-width: 400px;
    margin-bottom: 7px;
    flex:1;
    padding: 5px;
    border: 1px solid var(--silver-color);
    border-radius: 5px;
    font-size: calc(var(--text-sm) * var(--font-scale));
  }
  &__submit {
    width: 100%;
    max-width: 445px;
    height: 40px;
    line-height: 38px;
    background-color: var(--lightgray-color);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    font-weight: 500;
    &:hover {
      background-color: var(--darkblue-color);
      border: 1px solid var(--darkblue-color);
      color: var(--silver-color);
    }
  }
}