.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  width: 600px;
  box-shadow: 0 0 10px rgba(72, 72, 72, 0.2);
  // font-size: 15px;
  max-height: 90vh;
  height: 600px;
  max-width: 90vw;
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    background-color: rgba(0, 0, 0, 0.091);
  }
  &__inner {
    padding: 40px;
    overflow: auto;
    height: 100%;
    margin-bottom: -30px;
  }
  &__ttl {
    font-size: calc(var(--text-lg) * var(--font-scale));
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__logo {
    width: 17px;
  }
  &__desc {
    color: var(--gray-color);
    margin-bottom: 40px;
  }
  &__txt {
  }
  &__sub-ttl {
    margin-bottom: 6px;
    color: var(--gray-color);
    font-weight: 300;
    font-size: calc(var(--text-sm) * var(--font-scale));
  }
  hr {
    border: 1px solid var(--silver-color);
    margin: 40px 0;
  }
  &__conts {
    display: flex;
    gap: 50px;
  }
  &__cont {
    margin-bottom: 20px;
  }
  &__main-cont {
    margin-left: 20px;
    margin-bottom: 50px;
    list-style: circle;
    li {
      margin-bottom: 6px;
    }
  }
  &__skill {
    display: flex;
    gap: 10px;
  }
  &__links {
    display: flex;
    gap: 30px;
  }
  &__img-wrapper {
    border: 1px solid var(--silver-color);
  }
}
.close-btn {
  img {
    position: absolute;
    top: 0;
    left: var(--img-left);
    height: 40px;
    width: 80px;
    max-width: 200%;
  }
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 10px;
  overflow: hidden;
}
@media screen and (max-width: 748px) {
  .modal {
    max-width: 100vw;
    max-height: 100vh;
    height: -webkit-fill-available;
    height: 100dvh;
    &__sub-ttl {
      margin-bottom: 4px;
    }
    hr {
      border: .5px solid var(--silver-color);
  }
  }
}
