.strength {
  &__cards {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    &:nth-child(2n) {
      margin-right: 0;
    }
    margin-right: 2%;
    width: 49%;
    margin-bottom: 10px;
    background-color: var(--lightgray-color);
    border: 1px solid var(--silver-color);
    padding: 25px;
    border-radius: 10px;
  }
  &__ttl {
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__desc {
    color: var(--gray-color);
  }
}

@media screen and (max-width: 768px) {
  .strength {
    &__cards {
      justify-content: center;
    }
    &__card {
      margin-right: 0;
      width: 100%;
      max-width: 540px;
    }
    &__ttl {
    }
    &__desc {
    }
  }
}
