.contact {
  &__inner {
    background-color: var(--lightgray-color);
    display: flex;
    align-items: center;
    > * {
      width: 50%;
    }
  }
  &__txt {
    text-align: center;
  }
  .profile {
    &__main {
      display: flex;
    }
    &__conts {
    }
    &__cont {
      display: flex;
      align-items: center;
    }
  }
}
