.history {
  &__inner {
    display: flex;
    gap: 40px;
    padding: 50px;
    background-color: var(--lightgray-color);
    border: 1px solid var(--silver-color);
    border-radius: 10px;
  }
  &__list {
    display: flex;
    margin-bottom: 10px;
    em {
      width: 170px;
      display: inline-block;
      color: var(--gray-color);
    }
  }
  &__current {
  }
  &__main {
    font-size: calc(var(--text-sm) * var(--font-scale));
    font-weight: 500;
    padding: 4px 5px;
    border-radius: 5px;
    width: fit-content;
    color: var(--gray-color);
    background-color: var(--bg-color);
    border: 1px solid var(--silver-color);
    margin: 18px 0 5px 0;
  }
  &__main-cont {
    line-height: 1.5em;
    margin-bottom: 27px;
    margin-left: 20px;
    list-style: square;
  }
}

@media screen and (max-width: 1024px) {
  .history {
    &__inner {
      flex-direction: column;
       gap: 70px;
    }
  }
}
@media screen and (max-width: 768px) {
  .history {
    &__inner {
      padding: 25px;
    }
  }
}
@media screen and (max-width: 480px) {
  .history {
    &__list {
      flex-direction: column;
      margin-bottom: 20px;
      em {
        margin-bottom: 3px;
      }
    }
  }
}
