.tab {
  &__btns {
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
  }
  &__btn {
    display: inline-block;
    padding: 5px 12px;
    border-radius: var(--round-sm);
    border: 1px solid var(--border-color);
    background-color: var(--sub-bg-color);
    color: var(--text-color);
    transition: 0.2s;
    &:hover,
    &.active {
      color: var(--bg-color);
      background-color: var(--text-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.project {
  &__list {
    > button {
      width: 100%;
      transition: 0.3s;
      &:hover {
        transform: translateY(-10px);
      }
    }
    margin-bottom: 50px;
  }
  &__lists {
    margin-top: 50px;
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .project {
    &__lists {
      gap: 15px;
    }
    &__list {
      grid-column: span 6;
    }
  }
}
@media screen and (max-width: 480px) {
  .project {
    &__lists {
      gap: 15px;
    }
    &__list {
      grid-column: span 12;
    }
  }
}
