.header {
  width: 100%;
  border: 1px solid red;
  position: sticky;
  top: 0px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    background-color:antiquewhite;
  }
}
.gnb{
  display: flex;
}