.icon {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgba(160, 160, 160, 0.715);
  position: relative;
  background-color: #fff;

  &--small {
    width: 30px;
    height: 30px;
  }
  &--large {
    font-size: calc(var(--text-xxl) * var(--font-scale));
  }
  &--fill {
    border-radius: 8px;
    background-color: transparent;
  }
  &-tooltip {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    position: absolute;
    top: 110%;
    font-size: calc(var(--text-sm) * var(--font-scale));
    border: 1px solid var(--silver-color);
    padding: 2px 4px;
    background-color: #fff;
  }
  &:hover {
    .icon-tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}
