.icon {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgba(160, 160, 160, 0.715);
  background-color: #fff;
  
  &--small {
    width: 30px;
    height: 30px;
  }
  &--large {
    font-size: 23px;
  }
  &--fill {
    border-radius: 8px;
    overflow: hidden;
  }
}
