.skills {
  background-color: var(--sub-bg-color);
  border-top: 1px solid var(--border-color);
  &__lists {
    margin-top: var(--space-md);
  }
  &__list {
    padding: var(--space-sm);
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-color);
    border-radius: var(--round-sm);
    border-top: 4px solid var(--blue-color);
  }
  &__ttl {
    font-size: calc(var(--text-lg) * var(--font-scale));
    margin-bottom: 12px;
  }
  &__txt {
    padding-left: 13px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 10px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--blue-color);
    }
  }
  .icon {
    &__wrapper {
      border-top: 1px solid var(--border-color);
      margin-top: 16px;
      padding-top: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
  }
}
