.skills {
  text-align: center;
  &__lists {
    margin-bottom: -95px;
  }
  &__list {
    margin-bottom: 95px;
  }
  &__ttl {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: calc(var(--text-lg) * var(--font-scale));
  }
  &__txt {
    margin-bottom: 18px;
    color: var(--gray-color);
  }
  .icon {
    padding: 10px;
    border-radius: 5px;
    &__wrapper {
      display: flex;
      justify-content: center;
      gap: 13px;
    }
  }
}
